<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">
    <!-- Enable Spring Annotation Configuration -->
    <context:annotation-config />
    <!-- Scan for all of Spring components such as Spring Service -->
    <context:component-scan base-package="com.journaldev"></context:component-scan>
    <!-- Create Data Source bean -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
       <property name="driverClassName" value="org.postgresql.Driver" />
               <property name="url" value="jdbc:postgresql://localhost:5432/TMData" />
               <property name="username" value="postgres" />
               <property name="password" value="1234" />
    </bean>
    <!-- Define SessionFactory bean -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mappingResources">
            <list>
                <value>domain-classes-postgresSql.hbm.xml</value>
            </list>
        </property>
        <property name="configLocation">
            <value>classpath:hibernate-PostgresSql.cfg.xml</value>
        </property>
    </bean>
    <!-- Transaction Manager -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" />

 <bean id="dataSourceSql" class="org.apache.commons.dbcp.BasicDataSource"
              destroy-method="close">
           <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
                   <property name="url" value="jdbc:jtds:sqlserver://localhost:1433;database=SAEBogota" />
                   <property name="username" value="DESKTOP-LMESTVN\nataly" />
                   <property name="password" value="capitulo3" />
        </bean>
        <!-- Define SessionFactory bean -->
        <bean id="sessionFactorySql"
              class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
            <property name="dataSource" ref="dataSourceSql" />
            <property name="mappingResources">
                <list>
                    <value>domain-classes.hbm.xml</value>
                </list>
            </property>
            <property name="configLocation">
                <value>classpath:hibernate.cfg.xml</value>
            </property>
        </bean>
        <!-- Transaction Manager -->
        <bean id="transactionManagerSql"
              class="org.springframework.orm.hibernate3.HibernateTransactionManager">
            <property name="sessionFactory" ref="sessionFactorySql" />
        </bean>

        <tx:annotation-driven transaction-manager="transactionManagerSql" />

</beans>